In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [2]:
iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
print("target name" + str(iris['target_names']))
y = pd.DataFrame(iris['target'], columns=['target'])
data = pd.concat([x,y], axis=1)
data.head()

target name['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [3]:
data['sepal width (cm)'].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal width (cm), dtype: float64

In [4]:
data[['sepal width (cm)']].head()

   sepal width (cm)
0               3.5
1               3.0
2               3.2
3               3.1
4               3.6

## 看有無空值 使用 df.info()
### dataframe 是存在 memory 要注意

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
target               150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 5.9 KB

## df.describe() 統計資訊
### 兩個欄位的範圍差太多的時候，需要正規化
把不同欄位的範圍調整到差不多範圍

In [6]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [7]:
data.columns

Index([u'sepal length (cm)', u'sepal width (cm)', u'petal length (cm)',
       u'petal width (cm)', u'target'],
      dtype='object')

In [8]:
data.sort_values(by="sepal width (cm)", ascending= False).head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
15,5.7,4.4,1.5,0.4,0
33,5.5,4.2,1.4,0.2,0
32,5.2,4.1,1.5,0.1,0
14,5.8,4.0,1.2,0.2,0
16,5.4,3.9,1.3,0.4,0

> lambda input: output

apply 可以只對整個 dataframe 做運算
map 只能對 column

In [9]:
data.apply(lambda x: x+2).head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,7.1,5.5,3.4,2.2,2
1,6.9,5.0,3.4,2.2,2
2,6.7,5.2,3.3,2.2,2
3,6.6,5.1,3.5,2.2,2
4,7.0,5.6,3.4,2.2,2

In [10]:
data['sepal length (cm)'].map(lambda x: x+2).head()

0    7.1
1    6.9
2    6.7
3    6.6
4    7.0
Name: sepal length (cm), dtype: float64

# group by

In [11]:
data.groupby(by='target').sum()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,250.3,170.9,73.2,12.2
1,296.8,138.5,213.0,66.3
2,329.4,148.7,277.6,101.3

In [12]:
data.groupby(by='target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.418,1.464,0.244
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026